// import variables, mixins, placeholders and visually-hidden
@import "./utils/variables";
@import "./utils/placeholders";
@import "./utils/mixins";
@import "./utils/visually-hidden";

// import common styles. section, container
@import "./base/common";
@import "./base/container";

// import components. logo, title, button
@import "./components/logo";
@import "./components/title";
@import "./components/button";

// import layout. header, hero, features, works, our_team, clients, footer, modal window
@import "./layout/header";
@import "./layout/hero";
@import "./layout/features";
@import "./layout/works";
@import "./layout/our_team";
@import "./layout/clients";
@import "./layout/footer";
@import "./layout/modal_window";
