.about-subtitle {
  margin-bottom: 10px;
  @include font(700, 14px, 16px);
  text-transform: uppercase;
  color: $primary-text-color;

  @media screen and (max-width: 767px) {
    text-align: center;
  }
}

.about-idea {
  @include font(400, 14px, 24px);
  color: $secondary-text-color;
}

.about-list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .item {
    @media screen and (min-width: 768px) {
      max-width: 354px;
    }

    @media screen and (min-width: 1200px) {
      max-width: 270px;
    }

    &:not(:last-child) {
      @media screen and (max-width: 767px) {
        margin-bottom: 30px;
      }

      @media screen and (min-width: 1200px) {
        margin-right: 30px;
      }
    }
  }
}

.about-item::before {
  content: "";
  display: block;
  height: 120px;
  margin-bottom: 30px;
  background-color: $third-background-color;
  background-repeat: no-repeat;

  @media screen and (max-width: 767px) {
    max-width: 450px;
  }

  @media screen and (min-width: 768px) {
    max-width: 354px;
  }

  @media screen and (min-width: 1200px) {
    max-width: 270px;
  }
}

.about-item:nth-child(1)::before {
  background-image: url(../images/feature1.svg);
  background-position: center center;
}

.about-item:nth-child(2)::before {
  background-image: url(../images/feature2.svg);
  background-position: center center;
}

.about-item:nth-child(3)::before {
  background-image: url(../images/feature3.svg);
  background-position: center center;
}

.about-item:nth-child(4)::before {
  background-image: url(../images/feature4.svg);
  background-position: center center;
}

@media screen and (min-width: 1200px) {
  .about {
    padding-bottom: 47px;
  }
}
