// .about {
//   padding-bottom: 47px;
// }

// .about-idea {
//   @include font(400, 14px, 24px);
//   color: $secondary-text-color;
// }

// .about-subtitle {
//   margin-bottom: 10px;
//   @include font(700, 14px, 16px);
//   text-transform: uppercase;
//   color: $primary-text-color;
// }

// .about-list {
//   display: flex;
//   justify-content: space-between;

//   .item {
//     max-width: 270px;
//   }

//   .item:not(:last-child) {
//     margin-right: 30px;
//   }
// }

// .about-item::before {
//   content: "";
//   display: block;
//   height: 120px;
//   width: 270px;
//   margin-bottom: 30px;
//   background-color: $third-background-color;
//   background-repeat: no-repeat;
// }

// .about-item:nth-child(1)::before {
//   background-image: url(../images/feature1.svg);
//   background-position: center center;
// }

// .about-item:nth-child(2)::before {
//   background-image: url(../images/feature2.svg);
//   background-position: center center;
// }

// .about-item:nth-child(3)::before {
//   background-image: url(../images/feature3.svg);
//   background-position: center center;
// }

// .about-item:nth-child(4)::before {
//   background-image: url(../images/feature4.svg);
//   background-position: center center;
// }
