.footer {
  background-color: $secondary-background-color;
  padding: 60px 0;

  .container {
    @media screen and (min-width: 1200px) {
      display: flex;
      justify-content: space-between;
    }
  }

  .logo {
    display: block;
    margin-bottom: 20px;
  }

  .item:not(:last-child) {
    margin-bottom: 8px;

    @media screen and (min-width: 1200px) {
      margin-bottom: 9px;
    }
  }

  .link {
    @include font(400, 14px, 24px);
    color: rgba(255, 255, 255, 0.6);
  }

  .map {
    color: $third-text-color;
  }
}

.footer-address {
  @media screen and (max-width: 1199px) {
    text-align: center;
    margin-bottom: 60px;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-left: 60px;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 70px;
  }
}

.footer-subtitle {
  display: block;
  margin-bottom: 20px;
  text-transform: uppercase;
  @include font(700, 14px, 16px);
  color: $third-text-color;
}

.footer-list {
  display: flex;
  justify-content: center;
}

.footer-social-list {
  @media screen and (max-width: 767px) {
    text-align: center;
    margin-bottom: 60px;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    text-align: center;
    margin-top: 5px;
    margin-right: 74px;
  }

  @media screen and (min-width: 1200px) {
    margin-top: 12px;
  }

  .item:not(:last-child) {
    margin-right: 10px;
  }
}

.footer-social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: background-color 250ms $main-animation;

  &:hover,
  &:focus {
    background-color: $accent-color;
  }
}

.footer-link-svg {
  width: 20px;
  height: 20px;
  fill: $third-text-color;
}

.footer-form {
  @media screen and (max-width: 1199px) {
    text-align: center;
  }

  @media screen and (min-width: 1200px) {
    margin-top: 12px;
  }
}

.footer-wrap {
  @media screen and (min-width: 768px) {
    display: flex;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    justify-content: space-between;
  }
}

.footer-wrapper {
  .form-input {
    height: 50px;
    padding: 15px 16px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    color: $third-text-color;

    @media screen and (max-width: 767px) {
      width: 100%;
    }

    @media screen and (max-width: 1199px) {
      margin-bottom: 20px;
    }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
      width: 450px;
    }

    @media screen and (min-width: 1200px) {
      width: 358px;
      margin-right: 12px;
    }

    &::placeholder {
      color: rgba(255, 255, 255, 0.6);
    }

    &:focus {
      background-color: transparent;
      border: 1px solid rgba(255, 255, 255, 0.3);
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
      border-radius: 4px;
      color: $third-text-color;
    }
  }

  .button {
    width: 200px;
    align-items: center;
    padding: 10px 28px;

    @media screen and (max-width: 1199px) {
      display: flex;
    }

    @media screen and (min-width: 1200px) {
      display: inline-flex;
    }

    &::after {
      content: "";
      width: 24px;
      height: 24px;
      background-image: url(../images/footer/icon-send.svg);
      background-repeat: no-repeat;
      margin-left: 10px;
    }
  }
}
