.footer {
  background-color: $secondary-background-color;

  .container {
    display: flex;
    justify-content: space-between;
  }

  .logo {
    display: block;
    margin-bottom: 20px;
  }

  .item:not(:last-child) {
    margin-bottom: 9px;
  }

  .link {
    @include font(400, 14px, 24px);
    color: rgba(255, 255, 255, 0.6);

    &.map {
      color: $third-text-color;
    }
  }

  .form-input {
    width: 358px;
    height: 50px;
    padding: 15px 16px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    color: $third-text-color;
    margin-right: 12px;

    &::placeholder {
      color: rgba(255, 255, 255, 0.6);
    }

    &:focus {
      background-color: transparent;
      border: 1px solid rgba(255, 255, 255, 0.3);
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
      border-radius: 4px;
      color: $third-text-color;
    }
  }

  .button {
    width: 200px;
    display: inline-flex;
    align-items: center;
    padding: 10px 26px;

    &::after {
      content: "";
      width: 24px;
      height: 24px;
      background-image: url(../images/icon-send.svg);
      background-repeat: no-repeat;
      margin-left: 10px;
    }
  }
}

.footer-address {
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-subtitle {
  display: block;
  margin-bottom: 20px;
  text-transform: uppercase;
  @include font(700, 14px, 16px);
  color: $third-text-color;
}

.footer-list {
  display: flex;
  justify-content: space-between;
}

.footer-social-list {
  padding-top: 72px;
  padding-bottom: 100px;

  .item:not(:last-child) {
    margin-right: 10px;
  }
}

.footer-link-svg {
  width: 20px;
  height: 20px;
  fill: $third-text-color;
}

.footer-social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: background-color 250ms $main-animation;

  &:hover,
  &:focus {
    background-color: $accent-color;
  }
}

.footer-form {
  padding-top: 72px;
  padding-bottom: 94px;
}

.footer-wrapper {
  display: flex;
}
