.header {
  position: relative;
  border-bottom: 1px solid #ececec;
  background-color: $main-background-color;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .logo {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 93px;
  }
}

.site-nav {
  display: flex;

  .link {
    display: block;
    padding-top: 32px;
    color: $primary-text-color;
    @include font(500, 14px, 16px);
    letter-spacing: 0.02em;
    transition: color 250ms $main-animation;

    &.current {
      color: $accent-color;
    }

    &.not-current {
      padding-bottom: 32px;
    }

    &:hover,
    &:focus {
      color: $accent-color;
    }
  }
}

.menu-button {
  display: inline-flex;
  border: none;
  background-color: transparent;

  .icon-close-menu {
    display: none;
  }

  &.is-open .icon-close-menu {
    display: block;
  }

  &.is-open .icon-open-menu {
    display: none;
  }
}

.menu-container {
  display: none;

  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: $main-background-color;
  padding: 60px 140px;
  text-align: center;

  &.is-open {
    display: block;
  }
}

.list-nav {
  display: flex;

  .current::after {
    content: "";
    display: block;
    height: 4px;
    width: 100%;
    margin-top: 28px;
    background-color: $accent-color;
    border-radius: 2px;
  }

  .item:not(:last-child) {
    margin-right: 50px;
  }
}

.address-list {
  display: flex;
  margin-left: auto;

  .item:not(:first-child) {
    margin-left: 50px;
  }

  .link {
    display: flex;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    color: $secondary-text-color;
    @include font(500, 14px, 16px);
    letter-spacing: 0.02em;
    transition: color 250ms $main-animation;

    &:hover,
    &:focus {
      color: $accent-color;
    }
  }
}

.header-icon {
  margin-right: 10px;
  fill: currentColor;
}
