.button-portfolio {
  display: block;
  color: $primary-text-color;
  background-color: $third-background-color;
  @include font(500, 16px, 26px);
  padding: 6px 22px;
  text-decoration: none;
  border-radius: 4px;
  border: none;
  transition: background-color 250ms $main-animation, color 250ms $main-animation;

  &:hover,
  &:focus {
    cursor: pointer;
    background-color: $accent-color;
    color: $third-text-color;
  }
}

.portfolio-filtrs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @media screen and (min-width: 768px) {
    margin-bottom: 30px;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
  }

  @media screen and (max-width: 767px) {
    .item:nth-child(n + 4) {
      margin-bottom: 40px;
    }

    .item:nth-child(-n + 3) {
      margin-bottom: 21px;
    }
  }

  .item:not(:last-child) {
    margin-right: 8px;
  }
}

.portfolio-list {
  @media screen and (max-width: 767px) {
    .item:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    .item:nth-child(2n + 1) {
      margin-right: 30px;
    }

    .item:nth-child(-n + 8) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: 768px) {
    .item {
      flex-basis: calc(100% / 2 - 15px);
    }
  }

  @media screen and (min-width: 1200px) {
    .item {
      flex-basis: calc(100% / 3 - 20px);
    }
  }

  @media screen and (min-width: 1200px) {
    .item:not(:nth-last-child(-n + 3)) {
      margin-bottom: 30px;
    }

    .item:not(:nth-child(3n)) {
      margin-right: 30px;
    }
  }
}

.portfolio-title {
  margin-bottom: 4px;
  @include font(700, 18px, 36px);
  letter-spacing: 0.04em;
  color: $primary-text-color;
}

.portfolio-subtitle {
  @include font(400, 16px, 30px);
  color: $secondary-text-color;
}

.portfolio-card {
  padding: 20px 24px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

@media screen and (max-width: 1199px) {
  .overlay {
    display: none;

    p {
      display: none;
    }
  }
}

@media screen and (min-width: 1200px) {
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: translateY(100%);
    transition: transform 250ms $main-animation, opacity 250ms $main-animation;
    opacity: 0;
    pointer-events: none;
    padding: 63px 24px;
    background-color: rgba(33, 150, 243, 0.9);

    p {
      @include font(400, 18px, 28px);
      color: $third-text-color;
    }
  }
}

.portfolio-link {
  transition: box-shadow 250ms $main-animation;

  &:hover,
  &:focus {
    display: block;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);

    .overlay {
      transform: translateY(0%);
      opacity: 1;
    }
  }
}

.portfolio-wrapper {
  position: relative;
  overflow: hidden;
}
