.button {
  display: block;
  @extend %ml-mr-auto;
  background-color: $accent-color;
  @include font(700, 16px, 30px);
  letter-spacing: 0.06em;
  padding: 10px 32px;
  border-radius: 4px;
  border: none;
  color: $third-text-color;
  cursor: pointer;
}
