.logo {
  font-family: $secondary-font;
  @include font(700, 26px, 31px);
  color: #2196f3;
  text-decoration: none;

  &-header {
    color: #000000;
  }

  &-footer {
    color: $third-text-color;
  }
}
