.logo {
  font-family: $secondary-font;
  @include font(700, 24px, 28px);
  color: #2196f3;
  text-decoration: none;

  @media screen and (min-width: 1200px) {
    @include font(700, 26px, 31px);
  }

  &-header {
    color: #000000;
  }

  &-footer {
    color: $third-text-color;
  }
}
