.section {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: $main-background-color;
}

.container {
  max-width: 1200px;
  @extend %ml-mr-auto;
  padding-right: 15px;
  padding-left: 15px;
}
