// This container is used in every section on the site, besides the modal window

.container {
  @extend %ml-mr-auto;
  padding-right: 15px;
  padding-left: 15px;

  @media screen and (min-width: 480px) {
    max-width: 480px;
  }

  @media screen and (min-width: 768px) {
    max-width: 768px;
  }

  @media screen and (min-width: 1200px) {
    max-width: 1200px;
  }
}

// .section {
//   padding-top: 94px;
//   padding-bottom: 94px;
//   background-color: $main-background-color;
// }
