$main-font: "Roboto", sans-serif;
$secondary-font: "Raleway", sans-serif;
$primary-text-color: #212121;
$secondary-text-color: #757575;
$third-text-color: #ffffff;
$accent-color: #2196f3;
$main-background-color: #ffffff;
$secondary-background-color: #2f303a;
$third-background-color: #f5f4fa;
$primary-svg-color: #afb1b8;
$main-animation: cubic-bezier(0.4, 0, 0.2, 1);
